@page

<h3>Tech Meetup: SignalR con Net Core</h3>

<p>
    <strong>Studio de Cognizant Softvision</strong><br />
    Net-Baires y Tech Leads de Cognizant Softvision: Guillermo Murano, Javier Paez & Cristian Pique<br />
    Jueves 18 de julio de 2019
</p>

<p><strong>Links:</strong></p>
<ul>
    <li>
        <a href="signalr.pptx">Presentaci&oacute;n/Presentation</a>
    </li>
    <li>
        <a href="demo.zip">Fuentes de la demo/Sources</a>
    </li>
    <li>
        <a href="https://docs.microsoft.com/en-us/aspnet/core/signalr/introduction?view=aspnetcore-2.2">ASP.NET Core 2.2 SignalR</a>
    </li>
    <li>
        <a href="https://github.com/aspnet/AspNetCore/tree/master/src/SignalR">SignalR repository on GitHub</a>
    </li>
    <li>
        <a href="https://www.nuget.org/packages/Microsoft.AspNet.SignalR/">Nuget package</a>
    </li>
    
</ul>

