@page

<div class="text-center">
    <p><img src="~/img/meetup.jpg" class="responsive" /></p>
    <h1 kclass="display-4">Bienvenidos</h1>
    <p><a href="HelloSignalR.html">Hello SignalR</a></p>
    <p><a href="Charts.html">Charts</a></p>
    <p><a href="TennisGame.html">Tennis Game</a></p>
</div>
