@page
@model PrivacyModel

<h1>Softvision Privacy Policy</h1>

<p>Last updated May 25, 2018</p>

<p>SOFTVISION values individual privacy and we want to provide visitors to our website the opportunity to know what information we collect and how that information will be treated by us.</p>
<p>INFORMATION COLLECTED AUTOMATICALLY WHEN YOU VISIT OUR SITE:</p>
<p>SOFTVISION will collect and store the Internet protocol (IP) address of your computer and the Internet address of the site from which you linked directly to SOFTVISION’s website.</p>
<p>“Cookies” are text files placed in your computer’s browser to store certain preferences and information, which may enhance your browsing experience on SOFTVISION´s websites. Cookies may be used to personalize your website experience, such as recognizing you by name when you return. SOFTVISION does not use Cookies to track or collect personal identification information from website users. If you desire, instructions for your browser will allow you to make certain settings on your computer to warn you before a Cookie is stored, block all Cookies or erase Cookies from your hard drive.</p>
<p>INFORMATION IS COLLECTED WHEN YOU VOLUNTEER TO IDENTIFY YOURSELF, AND PROVIDE REQUESTED INFORMATION:</p>
<p>You may choose to write to us, subscribe or fill out certain forms or online data requests, by providing your name, telephone number, e-mail address, and/or job and related information. SOFTVISION uses this information to send you information, including news, events, job openings and related information that you have subscribed to. SOFTVISION may also use such data for market and consumer studies regarding product types, demographics and consumer preferences.</p>
<p>All of the consumer and customer data collected by SOFTVISION is stored on a secure server to protect against unauthorized use and access. If you contact us regarding suspected identity theft or other form of unauthorized use, SOFTVISION may disclose pertinent information to law enforcement agencies and other third parties with the responsibility and authority to investigate such suspected identity theft or unauthorized use.</p>
<p>At all times, however, SOFTVISION reserves the right to disclose information where required by applicable law or to comply with valid legal process (such as a search warrant, subpoena or court order), to protect SOFTVISION’s rights or property, including without limitation in the event of a transfer of control of SOFTVISION or substantially all of its assets, or during emergencies when safety is at risk.</p>
<p>___________</p>
<p>On May 25, 2018 European Regulation 2016/679 on the protection of individuals becomes applicable physical data processing and free movement of such data (GDPR). The main purpose of GDPR is to increase the level of protection of personal data and to create a climate of trust that allows each person to control the processing of their personal data.</p>
<ol>
    <li> Principles to be respected for the processing of personal data within SOFTVISION include:</li>
</ol>
<ul>
    <li>The processing of personal data legally, fairly and transparently for the person concerned.</li>
    <li>The collection personal data for determined, explicit and legitimate purposes.</li>
    <li>The processing of personal data appropriately and for the purpose of the data processing.</li>
    <li>The data processing is accurate and constantly updated;</li>
    <li>The storage of personal data will only take place for the duration necessary to achieve the purpose for which the data has been processed.</li>
    <li>The protection of personal data processed by SOFTVISION is ensured.<br></li>
</ul>
<p>&nbsp;</p>
<ol start="2">
    <li>
        Purpose of processing personal data within SOFTVISION include:
    </li>
</ol>
<ul>
    <li>Implementing SOFTVISION’s contracts;</li>
    <li>Fulfilling SOFTVISION’S legal obligations;</li>
    <li>Recruiting, selecting and hiring personnel for SOFTVISION;</li>
    <li>Identifying clients and collaborators of SOFTVISION;</li>
    <li>Promoting the image of SOFTVISION within our community;</li>
    <li>Ensuring the safety and health of the workforce of the visitors and collaborators to SOFTVISION’S website;</li>
    <li>Compliance with ISO standards related to information security and the quality of service provided by SOFTVISION;</li>
    <li>Ensuring the security of the information within the internal and external networks of SOFTVISION and ensuring their confidentiality.</li>
</ul>
<p>&nbsp;</p>
<ol start="3">
    <li>
        Legality of the processing of personal data:&nbsp;
        In order to ensure the lawfulness of personal data processing operations, at least one of the following conditions must be met:<br>

    </li>
</ol>
<ul>
    <li>The written consent from the data subject to process their personal data.</li>
    <li>The existence of a contract executed between SOFTVISION and the data subject, which authorizes the processing of personal data.</li>
    <li>The request by the data subject to conclude a contract with SOFTVISION, which necessitated the processing of personal data before the execution of a contract.</li>
    <li>
        The existence of one or more legal obligations that require the processing of
        <br>
        personal data.
    </li>
    <li>
        The protection of the vital interests of a data subject or other individual through the processing of personal data, provided that SOFTVISION has a legitimate interest in processing the personal data of the data subject.
        <br>

    </li>
</ul>
<p>&nbsp;</p>
<ol start="4">
    <li> Types of processed personal data:</li>
</ol>
<ul>
    <li>
        Within SOFTVISION, the types of personal data processed include:
        <ul>
            <li>Given name, surname, CNP, serial number, ID number, profession, and business address</li>
            <li>Residential address, gender, images, video recordings, IP, and personal and service telephone numbers</li>
            <li>Personal and service e-mail addresses, signatures, health data, family status, and financial information</li>
        </ul>
    </li>
</ul>
<p>&nbsp;</p>
<ol start="5">
    <li> &nbsp;What are your rights and how can they be exercised?</li>
</ol>
<ul>
    <li><i>Right to Information</i>. You can request information on SOFTVISION’S data processing activities.</li>
    <li><i>Right to Rectification</i>. &nbsp;You can rectify or correct inaccurate personal data.</li>
    <li><i>Right to Delete Data (the “Right to be Forgotten”)</i>. &nbsp;You can obtain data deletion, if the processing of your personal data was unlawful.</li>
    <li><i>Right to Restrict Data Processing</i>. &nbsp;You may request the restriction of the processing of your personal data. You can also contest the accuracy of the personal data, in accordance with applicable law.</li>
    <li><i>Right to Data Portability</i>. You can receive, under certain conditions, your personal data in a format that can be automatically read or you can request that your personal data be transmitted to another data processor.</li>
    <li><i>Right of Withdrawal of Consent</i>. &nbsp;You can withdraw your consent to the processing of your personal data, in cases where the processing of personal data is based on consent.</li>
</ul>
<p>&nbsp;</p>
<p>
    If you any questions regarding our Privacy Policies or how we manage our data please contact us at:
    <a href="mailto:hello@softvision.com" target="_blank">hello@softvision.com</a>
</p>

<p><a href="https://www.cognizantsoftvision.com/privacy-policy/">https://www.cognizantsoftvision.com/privacy-policy/</a></p>